name: Publish

on:
  push:
    tags:
      - "v0.1.0a1"  

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # for pypa/gh-action-pypi-publish OIDC (recommended)

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build wheel/sdist
        run: |
          python -m pip install -U pip build
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.2
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
